<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="style.css">
  <title>Document</title>
</head>
<body>
  
  <div class="search_header">
    <div class="img"> <img src="../images/logo.svg" width='30' height='30' /> </div>
    <div class="search_head_middle">
      <div class="recommend_loc">
        근처 추천 장소
      </div>
      <div class="dates">
        5월 12일 - 6월 13일
      </div>
      <div class="guests">
        게스트 1명
      </div>
      <div class="img3"> <img src="../images/search_icon.svg" width='25' height='25' /> </div>
    </div>
    <div class="users">
        <div class="host">
            호스트 되기
        </div>
        <div class="img2"> <img src="../images/world.svg" width='30' height='30' /> </div>
        <div class="user_info">
            <div class="after_img2"> <img src="../images/after_img2.svg" width='20' height='20' /></div>
            <div class="user">
                <button onclick="openModal()">
                    <img src="../images/user.svg" width='30' height='30' />
                </button>
            </div>
        </div>
    </div>
  </div>
      <br>
      <div class='row'>
        <div class="left">
          <div class="near_accom">
            <div class="near_accom_info1">
              300개 이상의 숙소·5월 12일 - 6월 13일· 게스트 1명
            </div>
            <div class="near_accom_info2">
              근처의 숙소
            </div>
            <div class="preference">
              <div class="pref1">
                숙소 유형
              </div>
              <div class="pref2">
                요금
              </div>
              <div class="pref3">
                즉시 예약
              </div>
              <div class="pref4">
                침실과 침대
              </div>
              <div class="pref5">
                필터 추가하기
              </div>
            </div>
          </div>
          <br>
          <div class="trip_left_date">
            <div class="cart_img"><img src="https://a0.muscache.com/airbnb/static/packages/icon-uc-suitcase.2b1ee4bb.gif" width='30' height='30' /></div>
            <div class="trip_left_date_info">
              <div class="trip_left_date_info_bold">
                여행이 6일 남았습니다. &nbsp;
              </div>
              <div class="trip_left_date_info_next_bold">
                지금 바로 예약할 수 있는 숙소를 보려면 즉시 예약필터를 사용하세요.
              </div>
            </div>
          </div>
          <br>
          <div class="loc1">
            <div class="loc1_info_text">
              <div class="loc1_info_text1">
                양양군
              </div>
              <div class="loc1_info_text2">
                <div class="loc1_info_text2_text">
                  보기(300+개)
                </div>
                <div class="left_arrow_img"><img src="../images/left_arrow.svg" width='25' height='25' /></div>
                <div class="right_arrow_img"><img src="../images/right_arrow.svg" width='25' height='25' /></div>
              </div>
            </div>
          </div>
          <br>
          <div class="yangyang_grid_container">
            <div class="yangyang_grid_item1">
                <div class="yangyang_item1_image">
                    <img src="..\images\yangyang1.webp" width='200' height='200' />
                </div>
                <div class="yangyang_item1_text">
                    <div class="yangyang_item1_text1">
                        아파트 전체
                    </div>
                    <div class="yangynag_item1_text2">
                        [강원도 양양] 조용하게 쉴 수 ...
                    </div>
                    <div class="yangynag_item1_text3">
                        ₩577,655 / 월
                    </div>
                </div>
            </div>
            <div class="yangyang_grid_item2">
                <div class="yangyang_item2_image">
                    <img src="..\images\yangyang2.webp" width='200' height='200' />
                </div>
                <div class="yangyang_item2_text">
                    <div class="yangyang_item2_text1">
                        레지던스 전체 Sokcho-si
                    </div>
                    <div class="yangyang_item2_text2">
                        <블루테라> 웨이브 #2, 속초...
                    </div>
                    <div class="yangynag_item2_text3">
                        ₩544,655 / 월
                    </div>
                </div>
            </div>
            <div class="yangyang_grid_item3">
                <div class="yangyang_item3_image">
                    <img src="..\images\yangyang3.webp" width='200' height='200' />
                </div>
                <div class="yangyang_item3_text">
                    <div class="yangyang_item3_text1">
                        아파트 전체...
                    </div>
                    <div class="yangyang_item3_text2">
                        속초 파리하우스#07/빔프로젝트/...
                    </div>
                    <div class="yangynag_item3_text3">
                        ₩1,377,655 / 월
                    </div>
                </div>
            </div>
          </div>
          <div class="loc1">
            <div class="loc1_info_text">
              <div class="loc1_info_text1">
                속초시
              </div>
              <div class="loc1_info_text2">
                <div class="loc1_info_text2_text">
                  보기(300+개)
                </div>
                <div class="left_arrow_img"><img src="../images/left_arrow.svg" width='25' height='25' /></div>
                <div class="right_arrow_img"><img src="../images/right_arrow.svg" width='25' height='25' /></div>
              </div>
            </div>
          </div>
          <div class="yangyang_grid_container">
            <div class="yangyang_grid_item1">
                <div class="yangyang_item1_image">
                    <img src="..\images\yangyang1.webp" width='200' height='200' />
                </div>
                <div class="yangyang_item1_text">
                    <div class="yangyang_item1_text1">
                        아파트 전체
                    </div>
                    <div class="yangynag_item1_text2">
                        [강원도 양양] 조용하게 쉴 수 ...
                    </div>
                    <div class="yangynag_item1_text3">
                        ₩577,655 / 월
                    </div>
                </div>
            </div>
            <div class="yangyang_grid_item2">
                <div class="yangyang_item2_image">
                    <img src="..\images\yangyang2.webp" width='200' height='200' />
                </div>
                <div class="yangyang_item2_text">
                    <div class="yangyang_item2_text1">
                        레지던스 전체 Sokcho-si
                    </div>
                    <div class="yangyang_item2_text2">
                        <블루테라> 웨이브 #2, 속초...
                    </div>
                    <div class="yangynag_item2_text3">
                        ₩564,655 / 월
                    </div>
                </div>
            </div>
            <div class="yangyang_grid_item3">
                <div class="yangyang_item3_image">
                    <img src="..\images\yangyang3.webp" width='200' height='200' />
                </div>
                <div class="yangyang_item3_text">
                    <div class="yangyang_item3_text1">
                        아파트 전체...
                    </div>
                    <div class="yangyang_item3_text2">
                        속초 파리하우스#07/빔프로젝트/...
                    </div>
                    <div class="yangynag_item3_text3">
                        ₩1,377,655 / 월
                    </div>
                </div>
            </div>
          </div>
          <div class="loc1">
            <div class="loc1_info_text">
              <div class="loc1_info_text1">
                부산
              </div>
              <div class="loc1_info_text2">
                <div class="loc1_info_text2_text">
                  보기(300+개)
                </div>
                <div class="left_arrow_img"><img src="../images/left_arrow.svg" width='25' height='25' /></div>
                <div class="right_arrow_img"><img src="../images/right_arrow.svg" width='25' height='25' /></div>
              </div>
            </div>
          </div>
          <div class="yangyang_grid_container">
            <div class="yangyang_grid_item1">
                <div class="yangyang_item1_image">
                    <img src="..\images\yangyang1.webp" width='200' height='200' />
                </div>
                <div class="yangyang_item1_text">
                    <div class="yangyang_item1_text1">
                        아파트 전체
                    </div>
                    <div class="yangynag_item1_text2">
                        [강원도 양양] 조용하게 쉴 수 ...
                    </div>
                    <div class="yangynag_item1_text3">
                        ₩577,655 / 월
                    </div>
                </div>
            </div>
            <div class="yangyang_grid_item2">
                <div class="yangyang_item2_image">
                    <img src="..\images\yangyang2.webp" width='200' height='200' />
                </div>
                <div class="yangyang_item2_text">
                    <div class="yangyang_item2_text1">
                        레지던스 전체 Sokcho-si
                    </div>
                    <div class="yangyang_item2_text2">
                        <블루테라> 웨이브 #2, 속초...
                    </div>
                    <div class="yangynag_item2_text3">
                        ₩564,655 / 월
                    </div>
                </div>
            </div>
            <div class="yangyang_grid_item3">
                <div class="yangyang_item3_image">
                    <img src="..\images\yangyang3.webp" width='200' height='200' />
                </div>
                <div class="yangyang_item3_text">
                    <div class="yangyang_item3_text1">
                        아파트 전체...
                    </div>
                    <div class="yangyang_item3_text2">
                        속초 파리하우스#07/빔프로젝트/...
                    </div>
                    <div class="yangynag_item3_text3">
                        ₩1,377,655 / 월
                    </div>
                </div>
            </div>
          </div>
          <div class="loc_look_around">
            <div class="loc_look_around_text">
                기타 인기 여행지
            </div>
            <div class="grid_container">
                <div class="grid_item1">
                    <div class="grid_item1_image">
                        <img src="..\images\71e23854-a3c7-491c-b715-6e86233a293f.webp" width='100' height='100' />
                    </div>
                    <div class="grid_item1_text">
                        <div class="grid_item1_text1">
                            경주시
                        </div>
                    </div>
                </div>
                <div class="grid_item2">
                    <div class="grid_item2_image">
                        <img src="..\images\8b318783-723f-4584-9b9b-0eb2c8b6078e.webp" width='100' height='100' />
                    </div>
                    <div class="grid_item2_text">
                        <div class="grid_item2_text1">
                            담양군
                        </div>
                    </div>
                </div>
                <div class="grid_item3">
                    <div class="grid_item3_image">
                        <img src="..\images\8340bd19-ee32-4669-8b10-a8ac7e7735d4.webp" width='100' height='100' />
                    </div>
                    <div class="grid_item3_text">
                        <div class="grid_item3_text1">
                            여수시
                        </div>
                    </div>
                </div>
              </div>
          </div>
          <br>
          <div class="all_loc">
            <div class="all_loc_text">
              300개 이상의 모든 숙소 둘러보기
            </div>
            <div class="all_loc_contain1">
              <div class="all_loc_contain1_image"><img src="../images/all_loc_image1.webp" width='200' height='170'></div>
              <div class="all_loc_contain1_info">
                <div class="all_loc_contain1_info_text1">
                  Wonpyeong-dong, Gumi-si의 콘도(아파트) 전체
                </div>
                <div class="all_loc_contain1_info_text2">
                  금오산_구미역 도보거리의 아늑한 가정집
                </div>
                <div class="all_loc_contain1_info_text3">
                  최대 인원 4명·원룸·침대 3개·욕실1개
                  <br>
                  주방·에어컨·헤어드라이어
                </div>  
              </div>
            </div>
            <div class="all_loc_contain1">
              <div class="all_loc_contain1_image"><img src="../images/all_loc_image2.jpg" width='200' height='170'></div>
              <div class="all_loc_contain1_info">
                <div class="all_loc_contain1_info_text1">
                  Indong 19-gil, Gumi-si의 집 전체
                </div>
                <div class="all_loc_contain1_info_text2">
                  구미시 인동도서관 원룸 - 한달 35% DC
                </div>
                <div class="all_loc_contain1_info_text3">
                  최대 인원 2명·원룸·침대 1개·욕실1개
                  <br>
                  주방·무선 인터넷·에어컨
                </div>
                <div class="all_loc_contain1_info_text4">
                  예약이 금방 마감되는 숙소
                </div>  
              </div>
            </div>
            <div class="all_loc_contain1">
              <div class="all_loc_contain1_image"><img src="../images/all_loc_image3.jpg" width='200' height='170'></div>
              <div class="all_loc_contain1_info">
                <div class="all_loc_contain1_info_text1">
                  Bokdae-dong, Heungdeok-gu, Cheongju의 집 전체
                </div>
                <div class="all_loc_contain1_info_text2">
                  친절한 할렐루야 3 복대동1843번지
                </div>
                <div class="all_loc_contain1_info_text3">
                  최대 인원 1명·원룸·침대 1개·욕실1.5개
                  <br>
                  주방·무선 인터넷·에어컨
                </div>  
              </div>
            </div>
          </div>
        </div>

      <div class="right">
        <img src='../images/South_Korea_location_map.svg' width='750'/>
      </div>
    </div>
  </div>
</body>
</html>